#features of pandas

In [ ]:
# high performance data manipulation and analysis tool
# working with large datasets
# easy to use data structures and data analysis tools
# support or load files with different format
# represent in tabular way
# working on missing data
# indexing,slicing,subsetting the large data
# merge or join two different datasets easily
# we can also reshape the data

In [ ]:
# we will use 3 data structures in pandas
# 1. series
# 2. dataframe
# 3. panel

#**introduction**

series--data represented in a one dimension

In [7]:
import pandas as pd
l = [1,2,3,4]
pd.Series(l)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
# to change the index we can use index attribute
import pandas as pd
l=[1,2,3,4]
S1=pd.Series(l,index=['a','b','c','d'])
print(S1['a':'c'])

a    1
b    2
c    3
dtype: int64

In [13]:
# iloc -> location based indexing

S1.iloc[3]

np.int64(4)

DataFrame----data represented in a two dimension

In [14]:
import pandas as pd
d = {'a':[1,2,3],'b':[4,5,6]}
pd.DataFrame(d)

   a  b
0  1  4
1  2  5
2  3  6

Topics: Series, DataFrame, Index Objects, Reindexing, Dropping Entries, Indexing

In [15]:
import pandas as pd
import numpy as np

1. Series
A Series is a one-dimensional labeled array that can hold any data type.

In [16]:
print("\n# Series - Example 1")
series1 = pd.Series([10, 20, 30, 'abc'])
print(series1)

# Series - Example 1
0     10
1     20
2     30
3    abc
dtype: object

In [17]:
print("\n# Series - Example 2 with custom index")
series2 = pd.Series([100, 200, 300], index=['a', 'b', 'c'])
print(series2)

# Series - Example 2 with custom index
a    100
b    200
c    300
dtype: int64

different way to create series

In [18]:
# empty series
import pandas as pd
s1 = pd.Series([])
print(s1)

Series([], dtype: object)

In [19]:
s1.empty

True

In [20]:
# series using numpy
import pandas as pd
import numpy as np
s = pd.Series(np.array([1,2,3,4,5]))
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
import pandas as pd
import numpy as np
s1 = pd.Series(np.arange(5))
print(s1)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [23]:
s = pd.Series(np.array([1,2,3,4,5]), index=['a', 'b', 'c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
# series using random
import pandas as pd
import numpy as np
s = pd.Series(np.random.rand(5))
print(s)
#

0    0.117009
1    0.196203
2    0.843763
3    0.179723
4    0.163616
dtype: float64

In [25]:
# series using list
l = [1,2,3]
s = pd.Series(l)
print(s)

0    1
1    2
2    3
dtype: int64

In [26]:
# series using dictionary
d = {'a':1,'b':2,'c':3}
s = pd.Series(d)
print(s)

a    1
b    2
c    3
dtype: int64

In [27]:
print("\n# Accessing Series values and index")
print("Values:", series2.values)
print("Index:", series2.index)

# Accessing Series values and index
Values: [100 200 300]
Index: Index(['a', 'b', 'c'], dtype='object')

In [32]:
# Attributes of series in pandas
# index : Series.index
# dtype : Series.dtype
# shape : Series.shape
# size : Series.size
# ndim : Series.ndim
# name : Series.name
# memory_usage(): Series.memory_usage() #returns memory ocupied by both index and values
# empty : Series.empty #returns true if series is empty

In [ ]:
# # Mathematical operations on Series
# add : Series.add()
# sub : Series.sub()
# mul : Series.mul()
# div : Series.div()
# module : Series.mod()

In [33]:
l = [1,2,3,4]
s = pd.Series(l)
s.mul(5)

0     5
1    10
2    15
3    20
dtype: int64

In [40]:
#Filling Null values with forward fill
import pandas as pd
import numpy as np
s = pd.Series([1, 2, np.nan, 4, np.nan, 6])
filled_s = s.ffill()
print(filled_s)

0    1.0
1    2.0
2    2.0
3    4.0
4    4.0
5    6.0
dtype: float64

In [41]:
#Filling Null values with backward fill
import pandas as pd
import numpy as np
s = pd.Series([1, 2, np.nan, 4, np.nan, 6])
filled_s = s.bfill()
print(filled_s)

0    1.0
1    2.0
2    4.0
3    4.0
4    6.0
5    6.0
dtype: float64

# 2. DataFrame
# A DataFrame is a two-dimensional labeled data structure with columns of potentially different types.

In [ ]:
# different ways to create DataFrame

In [30]:
# Similar to a spreadsheet or SQL table.
# Can contain different data types in columns.
# Created from dicts, Series, arrays, or other
# DataFrames.

# creating DataFrame using dictionary
print("\n# DataFrame - Example 1")
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}
df1 = pd.DataFrame(data)
print(df1[['Name','Age']])

# DataFrame - Example 1
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [31]:
print("\n# DataFrame - Example 2 with custom index")
df2 = pd.DataFrame(data, index=['A', 'B', 'C'])
print(df2)

# DataFrame - Example 2 with custom index
      Name  Age      City
A    Alice   25  New York
B      Bob   30     Paris
C  Charlie   35    London

# 3. Index Objects
# Index is an immutable array-like object that holds the axis labels for pandas objects.

In [34]:
print(df1)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [35]:
print("\n# Accessing index object")
print("DataFrame index:", df2.index)
print("DataFrame columns:", df2.columns)

# Accessing index object
DataFrame index: Index(['A', 'B', 'C'], dtype='object')
DataFrame columns: Index(['Name', 'Age', 'City'], dtype='object')

In [ ]:
df3 = pd.DataFrame(data, index = ['c', 'b', 'a'])
print(df3)

      Name  Age      City
c    Alice   25  New York
b      Bob   30     Paris
a  Charlie   35    London

In [44]:
# DataFrame:

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice"],
    "Age": [25, 30, 35, np.nan, 29, 25],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "HR"],
    "Salary": [50000, 60000, 70000, 62000, np.nan, 50000]
}
df = pd.DataFrame(data)
df
#df[["Age", "Department"]]

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0

In [61]:
df.describe()

             Age        Salary
count   5.000000      5.000000
mean   28.800000  58400.000000
std     4.147288   8532.291603
min    25.000000  50000.000000
25%    25.000000  50000.000000
50%    29.000000  60000.000000
75%    30.000000  62000.000000
max    35.000000  70000.000000

# 4. Reindexing
# Reindexing changes the row or column labels of a Series or DataFrame.

In [63]:
#df.shape
#df.info()
#df.describe()
#df.head(3)
#df.tail(3)
#df.iloc[1:4, :3] #rows, columns
#df.loc[1:3, ["Name","Department"]]  #label based indexing
#df.drop("Age", axis = 1)
df.rename(columns = {"Department": "Dept"}, inplace = True)

In [65]:
#df["Dept"].unique()
df["Dept"].value_counts()

Dept
HR         3
IT         2
Finance    1
Name: count, dtype: int64

In [ ]:
df.isnull().sum()
df.dropna(how = "any") # any row that had any null value
df.dropna(how = "all") #if all the values in any row are null then we drop that row
df["Age"].fillna(df["Age"].mean())
df["Salary"].fillna(df["Salary"].median())
df["Age"].fillna(method = "ffill")
df["Age"].fillna(method = "bfill")
df["Name"] = df["Name"].replace("Charlie", "Rose")

In [ ]:
# Joins and Merges

department_info = {
    "Dept": ["HR", "IT", "Finance"],
    "Location": ["New York", "San Francisco", "Chicago"],
    "Manager": ["Laura", "Steve", "Nina"]
}

df2 = pd.DataFrame(department_info)
df2

# Concat
pd.concat([df, df2])
pd.concat([df, df2], axis = 1)

#merge
pd.merge(df, df2, on = "Dept")

In [ ]:
import pandas as pd
print("\n# Reindexing a Series")
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = s.reindex(['c', 'a', 'b', 'd'])
print(s)
print(s2)

# Reindexing a Series
a    1
b    2
c    3
dtype: int64
c    3.0
a    1.0
b    2.0
d    NaN
dtype: float64

In [ ]:
df3.reindex(columns=['A', 'B', 'C'])

    A   B   C
c NaN NaN NaN
b NaN NaN NaN
a NaN NaN NaN

In [ ]:

print("\n# Reindexing with forward fill")
s3 = pd.Series(['red', 'blue', 'green'], index=[0, 2, 4])
print(s3.reindex(range(10), method='ffill'))

# Reindexing with forward fill
0      red
1      red
2     blue
3     blue
4    green
5    green
6    green
7    green
8    green
9    green
dtype: object

In [ ]:
print("\n# Reindexing with forward fill using DataFrame")
df3 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
})
print(df3.reindex(range(6), method='ffill'))

# Reindexing with forward fill using DataFrame
      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
3  Charlie   35    London
4  Charlie   35    London
5  Charlie   35    London

# 5. Dropping Entries
# Use drop() to remove rows or columns from a Series or DataFrame.

In [ ]:
print("\n# Dropping from Series")
series3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
# print(series3)
print(series3.drop('b'))

# Dropping from Series
a    1
c    3
d    4
dtype: int64

In [ ]:
print("\n# Dropping from DataFrame")
df3 = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}
df4 = pd.DataFrame(df3)
print(df4)
# print(df4.drop(1))
print(df4.drop('Age', axis=1)) # removing column with name Age

# Dropping from DataFrame
      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
      Name      City
0    Alice  New York
1      Bob     Paris
2  Charlie    London

In [ ]:

# Dropping the row where Name is 'Alice'
# First, we need to find the index of the row where Name == 'Alice'
row_index = df4[df4['Name'] == 'Alice'].index
# row_index
print("\nDataFrame after dropping row with Name = 'Alice':")
print(df4.drop(row_index))

DataFrame after dropping row with Name = 'Alice':
      Name  Age    City
1      Bob   30   Paris
2  Charlie   35  London

##slicing

# 6. Indexing, Selection, and Filtering
# Accessing elements using label-based (.loc) or position-based (.iloc) indexing.

In [37]:
import pandas as pd

d = pd.read_csv("/content/sample_data/netflix_titles.csv", encoding='latin-1')
df = pd.DataFrame(d)
print(df)

       show_id     type                                        title  \
0     81145628    Movie      Norm of the North: King Sized Adventure
1     80117401    Movie                   Jandino: Whatever it Takes
2     70234439  TV Show                           Transformers Prime
3     80058654  TV Show             Transformers: Robots in Disguise
4     80125979    Movie                                 #realityhigh
...        ...      ...                                          ...
6229  80000063  TV Show                                 Red vs. Blue
6230  70286564  TV Show                                        Maron
6231  80116008    Movie       Little Baby Bum: Nursery Rhyme Friends
6232  70281022  TV Show  A Young Doctor's Notebook and Other Stories
6233  70153404  TV Show                                      Friends

                      director  \
0     Richard Finn, Tim Maltby
1                          NaN
2                          NaN
3                          NaN
4             Fernando Lebrija
...                        ...
6229                       NaN
6230                       NaN
6231                       NaN
6232                       NaN
6233                       NaN

                                                   cast  \
0     Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1                                      Jandino Asporaat
2     Peter Cullen, Sumalee Montano, Frank Welker, J...
3     Will Friedle, Darren Criss, Constance Zimmer, ...
4     Nesta Cooper, Kate Walsh, John Michael Higgins...
...                                                 ...
6229  Burnie Burns, Jason Saldaa, Gustavo Sorola, ...
6230  Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...
6231                                                NaN
6232  Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
6233  Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...

                                       country         date_added  \
0     United States, India, South Korea, China  September 9, 2019
1                               United Kingdom  September 9, 2016
2                                United States  September 8, 2018
3                                United States  September 8, 2018
4                                United States  September 8, 2017
...                                        ...                ...
6229                             United States                NaN
6230                             United States                NaN
6231                                       NaN                NaN
6232                            United Kingdom                NaN
6233                             United States                NaN

      release_year    rating    duration  \
0             2019     TV-PG      90 min
1             2016     TV-MA      94 min
2             2013  TV-Y7-FV    1 Season
3             2016     TV-Y7    1 Season
4             2017     TV-14      99 min
...            ...       ...         ...
6229          2015        NR  13 Seasons
6230          2016     TV-MA   4 Seasons
6231          2016       NaN      60 min
6232          2013     TV-MA   2 Seasons
6233          2003     TV-14  10 Seasons

                                              listed_in  \
0                    Children & Family Movies, Comedies
1                                       Stand-Up Comedy
2                                              Kids' TV
3                                              Kids' TV
4                                              Comedies
...                                                 ...
6229  TV Action & Adventure, TV Comedies, TV Sci-Fi ...
6230                                        TV Comedies
6231                                             Movies
6232           British TV Shows, TV Comedies, TV Dramas
6233                     Classic & Cult TV, TV Comedies

                                            description
0     Before planning an awesome wedding for his gra...
1     Jandino Asporaat riffs on the challenges of ra...
2     With the help of three human allies, the Autob...
3     When a prison ship crash unleashes hundreds of...
4     When nerdy high schooler Dani finally attracts...
...                                                 ...
6229  This parody of first-person shooter games, mil...
6230  Marc Maron stars as Marc Maron, who interviews...
6231  Nursery rhymes and original music for children...
6232  Set during the Russian Revolution, this comic ...
6233  This hit sitcom follows the merry misadventure...

[6234 rows x 12 columns]

In [ ]:
# to get first 5 rows
# df.head()
# if you want to get first 10 rows
# df.head(10)
# # another function is tail()
# df.tail()
# df.tail(3)

# describe

# df.describe()  #it describes the numerical data

# df.columns  #columns available in the dataset

# df.shape #print the shape of the  dataset

# df['country'].head()
# # df[['director','cast']].tail()
# df[1:10:2] #slicing

# if you want to get perticular coloumn

# df[['director','cast']][:2]


df.loc[2]
# # df.loc[1:6]

show_id                                                        s3
type                                                      TV Show
title                                                   Ganglands
director                                          Julien Leclercq
cast            Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
country                                                       NaN
date_added                                     September 24, 2021
release_year                                                 2021
rating                                                      TV-MA
duration                                                 1 Season
listed_in       Crime TV Shows, International TV Shows, TV Act...
description     To protect his family from a powerful drug lor...
Unnamed: 12                                                   NaN
Unnamed: 13                                                   NaN
Unnamed: 14                                                   NaN
Unnamed: 15                                                   NaN
Unnamed: 16                                                   NaN
Unnamed: 17                                                   NaN
Unnamed: 18                                                   NaN
Unnamed: 19                                                   NaN
Unnamed: 20                                                   NaN
Unnamed: 21                                                   NaN
Unnamed: 22                                                   NaN
Unnamed: 23                                                   NaN
Unnamed: 24                                                   NaN
Unnamed: 25                                                   NaN
Name: 2, dtype: object

In [28]:
# load data from excel file
import pandas as pd
df3 = pd.read_excel('/content/sample_data/Allottment.xlsx')
df3.head()
print(df3)

      S.No  Hall Ticket No          Rank             Name of the Candidate  \
0        1    2521A03322     3493.00       SAI BHARADWAJ REDDY ELLUR
1        2    2521A07232    13529.00    BEJAWADA VENKATA SAI VIGNESH
2        3    2521A14038     4548.00                    SUPRITA SAHU
3        4    2521C05802     3782.00       GANAMUKKULA BHANU PRAKASH
4        5    2521C08140     4874.00                  GUKANTI BHAVNA
..       ...             ...           ...                               ...
133    134    2526E08072     3647.00                  VELLANKI ARJUN
134    135    2526E12195    14762.00                 TEJASWINI SATHA
135    136    2526L09212     3294.00               GATLA PAVAN KUMAR
136    137    2526L09247     3033.00         THATIPAMULA SAI DHEERAJ
137    138    2526S02011    24280.00               GUGULOTHU NIKITHA

       Sex     Caste  Region      Seat Category
0      M      OC    OU        OC_GEN_OU
1      M    BC_A    OU      BC_A_GEN_OU
2      F    BC_B    OU    BC_B_GIRLS_OU
3      M    BC_B    OU      BC_B_GEN_OU
4      F    BC_B    OU    BC_B_GIRLS_OU
..     ...       ...     ...                ...
133    M      OC    OU        OC_GEN_OU
134    F    BC_A    OU    BC_A_GIRLS_UR
135    M    BC_D    OU      BC_D_GEN_UR
136    M    BC_B    OU      BC_B_GEN_UR
137    F      ST    OU      ST_GIRLS_UR

[138 rows x 8 columns]

In [29]:
# load data from csv file
df4 = pd.read_csv('/content/sample_data/california_housing_test.csv')
print(df4)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
for index,rows in df.iterrows():
  print(index,rows['director'])

Streaming output truncated to the last 5000 lines.
1234 nan
1235 Jerry Rothwell, Reuben Atlas
1236 Kristin Hanggi
1237 Joe Dante
1238 nan
1239 nan
1240 nan
1241 nan
1242 Alex Zamm
1243 Chris Smith
1244 Tilak Shetty
1245 Dee Rees
1246 Glenn Miller
1247 nan
1248 nan
1249 Nicolas Winding Refn
1250 Timo Vuorensola
1251 Robb Dipple
1252 Sarah Gavron
1253 Eli Roth
1254 Daniel Goldhaber
1255 nan
1256 Asri Bendacha
1257 nan
1258 Fred Cavay
1259 Joel Coen, Ethan Coen
1260 nan
1261 nan
1262 Shane Acker
1263 nan
1264 Wash Westmoreland
1265 Alessandro Angulo
1266 Mauro Scandolari
1267 Arjun Jandyala
1268 Shashanka Ghosh, Samit Basu
1269 nan
1270 nan
1271 Naoko Yamada
1272 Sergio Pablos
1273 nan
1274 Anand Tucker
1275 nan
1276 nan
1277 Valli Bindana
1278 Nate Adams, Adam Carolla
1279 nan
1280 Makoto Shinkai
1281 nan
1282 nan
1283 V C Abhilash
1284 nan
1285 Justin G. Dyck
1286 Nila Madhab Panda
1287 Sameer Vidwans
1288 Timo Tjahjanto
1289 Nakul Singh Sawhney
1290 Nishanth Ravindaran, Jathin Sanker Raj
1291 Bill Guttentag, Michael Ware
1292 Gajendra Ahire
1293 Swapna Waghmare Joshi
1294 Raymond McGrath
1295 Adele K. Thomas, Richard Bailey
1296 Richard Bailey
1297 Julien Leclercq
1298 Aitor Arregi, Jon Garao
1299 Remo D'Souza
1300 nan
1301 Radhika Rao, Vinay Sapru
1302 nan
1303 nan
1304 nan
1305 Volker Weicker
1306 Manjeet Singh
1307 Oliver Stone
1308 Nick Mead
1309 Gautier & Leduc
1310 nan
1311 Marcus Raboy
1312 Timothy Woodward Jr.
1313 Lance Bangs
1314 Matt Piedmont
1315 nan
1316 Erik Matti
1317 Christopher Guest
1318 nan
1319 John Scheinfeld
1320 Rhys Thomas
1321 nan
1322 Christopher Storer
1323 Jeremy Saulnier
1324 Jennifer Baichwal, Nicholas de Pencier
1325 Tom Ford
1326 nan
1327 J.M. Berrios
1328 Josh Aronson
1329 Alain Desrochers
1330 Estela Renner
1331 Jeff Wadlow
1332 nan
1333 nan
1334 Laurent Cantet
1335 Shannon Hartman
1336 nan
1337 Ral Campos, Jan Suter
1338 Natalia Valdebenito
1339 Marcelo Galvo
1340 nan
1341 Lorene Machado
1342 nan
1343 Richard Donner
1344 Kevin Reynolds
1345 Marina Seresesky
1346 nan
1347 nan
1348 Tony Kaye
1349 Kenny Leon
1350 Peter Segal
1351 David Salzberg, Christian Tureaud
1352 nan
1353 Daniel Mann
1354 Richard Brooks
1355 Michael Kampa
1356 Harvey Lowry
1357 James Dearden
1358 Jack Starrett
1359 Les Mayfield
1360 David Lean
1361 Tarun Mansukhani
1362 Jennifer Westcott
1363 Robert Clouse
1364 Valeria Golino
1365 Stuart Baird
1366 Gregory Hoblit
1367 Terry Gilliam
1368 Drea Cooper, Zackary Canepari
1369 Fred M. Wilcox
1370 David Silberg
1371 Vincente Minnelli, Charles Walters
1372 Robert Altman
1373 Mathieu Kassovitz
1374 Randal Kleiser
1375 nan
1376 nan
1377 nan
1378 Ernie Barbarash
1379 Michael A. Nickles
1380 Ken Marino
1381 Lionel C. Martin
1382 Clint Eastwood
1383 Joe Boyd
1384 Jeffrey W. Byrd
1385 Scott Stewart
1386 Alfonso Arau
1387 Ellen Weissbrod
1388 Michael Anderson
1389 Stanley Kubrick
1390 Theodore Witcher
1391 Callie Khouri, Jesse V. Johnson
1392 nan
1393 Brett Ratner
1394 Gil Kenan
1395 Lewis Milestone, Carol Reed
1396 Jared Hess
1397 Gene Quintano
1398 Lewis Milestone
1399 Charles Stone III
1400 nan
1401 Nicholas Ray
1402 Sam Mendes
1403 Roman Polanski
1404 John Dahl
1405 Stanley Tong
1406 Blayne Weaver
1407 Billy Bob Thornton
1408 Sam O'Steen
1409 Sam Raimi
1410 David Fairhead, Anthony Palmer
1411 Adam McKay
1412 Gordon Parks
1413 Neil Jordan
1414 John Stephenson
1415 Norman Jewison
1416 David Fincher
1417 John Dahl
1418 Manolo Caro
1419 David Michd
1420 Tony Scott
1421 Marco Bonfanti
1422 Lilly Wachowski, Lana Wachowski
1423 Lilly Wachowski, Lana Wachowski
1424 Lilly Wachowski, Lana Wachowski
1425 Everardo Gonzlez
1426 Alan J. Pakula
1427 Kevin Donovan
1428 Charlotte Zwerin
1429 nan
1430 Pete Travis
1431 nan
1432 nan
1433 Nick Moore
1434 Rodrigo Guardiola, Gabriel Cruz Rivas
1435 Ruben Fleischer
1436 Neeraj Pandey
1437 Indrajit Nattoji
1438 Raj Kumar Gupta
1439 Remo D'Souza
1440 Remo D'Souza
1441 Arnab Chaudhuri
1442 Rana Ranbir
1443 Anurag Basu
1444 David Zucker
1445 nan
1446 Momoko Kamiya
1447 Momoko Kamiya
1448 Harry Baweja
1449 Ken Ghosh
1450 Justin G. Dyck
1451 Priyadarshan, Kookie V. Gulati
1452 Vivek Agnihotri
1453 Umesh Shukla
1454 Habib Faisal
1455 Bobby Roth
1456 Halder Gomes
1457 Tony Zierra
1458 Amitoj Mann
1459 nan
1460 Raj Kumar Gupta
1461 nan
1462 B. Unnikrishnan
1463 Milan Luthria
1464 Madhur Bhandarkar
1465 Sajid Khan
1466 Saji Surendran
1467 Ksshitij Chaudhary
1468 Abhishek Kapoor
1469 Sundar C.
1470 Gary Binkow
1471 Nikhil Advani
1472 Anurag Basu
1473 Lance Bangs
1474 Chad Hartigan
1475 Nishikant Kamat
1476 Navinder Pal Singh
1477 Raj Kumar Gupta
1478 Dibakar Banerjee
1479 Tigmanshu Dhulia
1480 Kunal Deshmukh
1481 Prakash Jha
1482 R. Kannan
1483 Gaurav Narayanan
1484 Kevin Layne
1485 Jon J. Whelan
1486 nan
1487 Leanne Gater
1488 Jennifer M. Kroot
1489 Jay Russell
1490 Wally Pfister
1491 Akin Omotoso
1492 Shyam Benegal
1493 nan
1494 Satyajit Bhatkal
1495 Bharat Jain
1496 Alo Sarkar
1497 Rajeev Chaudhari
1498 Vishal Mishra
1499 Iaki Dorronsoro
1500 Takuya Inaba
1501 Ali Bin Matar, Ibrahim Bin Mohamed
1502 Daniel Ablin
1503 Buta Singh
1504 Abbas Alibhai Burmawalla, Mastan Alibhai Burmawalla
1505 Jami
1506 nan
1507 nan
1508 Ali Samadi Ahadi
1509 Anurag Singh
1510 Ashok Nanda
1511 Navaniat Singh
1512 Shweta Basu Prasad
1513 Jesse V. Johnson
1514 nan
1515 D Ho
1516 nan
1517 nan
1518 nan
1519 nan
1520 nan
1521 Jitender Pawar
1522 Erik Canuel
1523 Param Gill
1524 Jack Zagha Kababie
1525 Ksshitij Chaudhary
1526 Richard Mears
1527 nan
1528 nan
1529 nan
1530 nan
1531 nan
1532 nan
1533 Heidi Ewing, Rachel Grady
1534 Moto Sakakibara
1535 Emilio Martnez Lzaro
1536 Craig Monahan
1537 Gillian Armstrong
1538 Jon Reiner, Brad Rothschild
1539 John Duigan
1540 Mu Chu
1541 Henry Sarwer-Foner
1542 Will Lovelace, Dylan Southern
1543 Jim Monaco
1544 Sherif Ismail
1545 Dava Whisenant
1546 Yen Cheng-kuo
1547 James Wan
1548 Karim El Sobky
1549 Mohamed Samy
1550 Sameh Abdulaziz
1551 Husam El-Gohari
1552 Liz Plonka
1553 nan
1554 nan
1555 nan
1556 nan
1557 nan
1558 nan
1559 nan
1560 nan
1561 nan
1562 Sam Patton
1563 Bobcat Goldthwait
1564 Rupert Jones
1565 Sonia Kennebeck
1566 David Pablos
1567 nan
1568 nan
1569 nan
1570 Maya Gallus
1571 nan
1572 nan
1573 Cavi Borges, Luciano Vidigal
1574 Dani Levy
1575 Alma Har'el
1576 Alex Parkinson, Richard da Costa
1577 Kevin Peeples
1578 Frant Gwo
1579 Steven Spielberg
1580 Jay Karas
1581 Harrison Smith
1582 Sonny Mallhi
1583 nan
1584 Robert Vince
1585 Jeff Garlin
1586 Jan Suter, Ral Campos
1587 Michael Barnett
1588 nan
1589 Andrew Nackman
1590 Ole Bornedal
1591 nan
1592 Andrew Niccol
1593 Isabelle Nanty
1594 Rob Epstein, Jeffrey Friedman
1595 Antonio Morabito
1596 Rene Bueno
1597 John Woo
1598 Nicols Lpez
1599 Patricia Ferreira
1600 nan
1601 Nahnatchka Khan
1602 Sachin Yardi
1603 Sachin Yardi
1604 nan
1605 nan
1606 Partho Mitra
1607 Santram Varma
1608 Rakeysh Omprakash Mehra
1609 Paul Spurrier
1610 Han Han
1611 Pawan Kripalani
1612 Bhushan Patel
1613 Raj Nidimoru, Krishna D.K.
1614 nan
1615 Alexandra Dean
1616 Cosima Spender
1617 Simon Curtis
1618 Jang Jae-hyun
1619 Charlie McDowell
1620 Liam Lynch
1621 Hao Wu
1622 Felipe Cano
1623 nan
1624 Gabriela Tagliavini
1625 Joe Berlinger
1626 nan
1627 Ismail Farouk
1628 Lee Jeong-beom
1629 William Bindley
1630 nan
1631 nan
1632 Fernando Aylln
1633 Maya Zinshtein
1634 Vishal Bhardwaj
1635 Jill Bauer, Ronna Gradus
1636 Justin McConnell
1637 Lasse Hallstrm, Joe Johnston
1638 Bryce Wagoner
1639 nan
1640 nan
1641 nan
1642 Steven Brill
1643 nan
1644 Kim Sung-hoon
1645 Norberto Lpez Amado
1646 nan
1647 Mary Mazzio
1648 Joe Piscatella
1649 Rahul Dholakia
1650 David Michd
1651 Mark Craig
1652 nan
1653 nan
1654 Ketan Mehta
1655 Ral Campos, Jan Suter
1656 Alex Richanbach
1657 Marcus Raboy
1658 Christopher Smith
1659 Nadia Hallgren
1660 nan
1661 Sudabeh Mortezai
1662 McG
1663 Richard Shepard
1664 nan
1665 Matthew Cooke
1666 Mike Diva, Akiva Schaffer
1667 Jean-Patrick Benes
1668 Christopher Storer
1669 nan
1670 Trisha Ziff
1671 Vasan Bala
1672 nan
1673 Tig Notaro
1674 nan
1675 nan
1676 nan
1677 John Bridcut
1678 nan
1679 nan
1680 nan
1681 nan
1682 Lance Bangs
1683 Mike Fleiss
1684 Barry Jenkins
1685 Linda Mendoza
1686 Aanand Rai
1687 Sharon Grimberg
1688 Akram Farouk
1689 Christel Gibson
1690 Andrew Stanton
1691 Manav Shah
1692 Antoine Fuqua
1693 nan
1694 Jimmy Henderson
1695 Jessica Yu
1696 Kim Nguyen
1697 Max Martini
1698 Nila Madhab Panda
1699 Ian Nelms, Eshom Nelms
1700 nan
1701 Hiroyuki Seshita
1702 nan
1703 nan
1704 Lygia Barbosa da Silva, Eliane Brum
1705 nan
1706 Osgood Perkins
1707 Ken Kushner
1708 Yolanda Ramke, Ben Howling
1709 Kagiso Lediga
1710 nan
1711 nan
1712 Diego Enrique Osorno
1713 Hernn Zin
1714 Hernn Zin
1715 Hernn Zin
1716 Arthur Muhammad
1717 nan
1718 Pedring A. Lopez
1719 Sam Cullman
1720 Francesco Imperato
1721 Stefon Bristol
1722 nan
1723 Brit McAdams
1724 Steve Loter
1725 Icar Bollan
1726 Kate Melville
1727 Aditya Vikram Sengupta
1728 David Dhawan
1729 Neil Burger
1730 Dibakar Banerjee
1731 Apoorva Lakhia
1732 Milan Luthria
1733 Mandie Fletcher
1734 Michael Dowse
1735 nan
1736 Vipul Amrutlal Shah
1737 Rajkumar Santoshi
1738 Mercedes Cordova
1739 Antonio Campos
1740 Derek Cianfrance
1741 Ryan Polito
1742 Meenu Gaur, Farjad Nabi
1743 Matthew Hope
1744 Asim Abbasi
1745 nan
1746 Saurabh Kabra
1747 Aijaz Khan
1748 nan
1749 nan
1750 Anil V. Kumar
1751 Sangeeth Sivan
1752 Umesh Ghadge
1753 Milan Luthria
1754 Apoorva Lakhia
1755 Midhun Manuel Thomas
1756 Neeraj Pandey
1757 Umer Adil
1758 Hayao Miyazaki
1759 Nicolas Winding Refn
1760 nan
1761 Rajiv Mehra
1762 nan
1763 Robert Kenner
1764 Kundan Shah
1765 So Yong Kim
1766 Alina Teodorescu
1767 Rajiv Mehra
1768 nan
1769 nan
1770 Filip Renc
1771 Femi Oyeniran, Kalvadour Peterson
1772 David Morris, Jacqui Morris
1773 Gonzalo Lpez-Gallego
1774 Damin Romay
1775 nan
1776 nan
1777 Abby Epstein
1778 nan
1779 Savage Steve Holland
1780 Tim Maltby
1781 Jay Karas
1782 Andy Tennant
1783 Hepi Mita
1784 nan
1785 Anthony Abrams, Adam Larson Broder
1786 nan
1787 Dylan Bank, Daniel DiMauro, Morgan Pehme
1788 Sean Foley
1789 Pierre Cor
1790 Che Sandoval
1791 Jean-Bernard Marlin
1792 Yee Tung-Shing
1793 nan
1794 Ral Campos, Jan Suter
1795 Trey Borzillieri, Barbara Schroeder
1796 Vince Marcello
1797 nan
1798 Rajiv Chilaka
1799 Sidheswar Shukla, Asit Mohapatra
1800 Asit Mohapatra, Shyamal Chaulia
1801 Shyamal Chaulia, Asit Mohapatra
1802 Patricia Font
1803 nan
1804 nan
1805 nan
1806 nan
1807 Amy Poehler
1808 Sachin Kundalkar
1809 Puri Jagannadh
1810 Krish
1811 Shoojit Sircar
1812 Ribhu Dasgupta
1813 Geoff Anderson
1814 Federico Veiroj
1815 Robert Vince
1816 Mark Zwonitzer
1817 Bo Welch
1818 Sedat Kirtan, Kubilay Sarikaya
1819 Stacia Crawford
1820 Michael Epstein
1821 Sudipto Roy
1822 Frdric Tonolli
1823 Rachel Lears
1824 Emmanuel Amara
1825 Syamsul Yusof
1826 Nicholas Winter
1827 nan
1828 Bong Joon Ho
1829 Mangesh Kanthale
1830 Kevin Munroe
1831 Frank Oz, Jim Henson
1832 nan
1833 Gary Young
1834 Nicanor Loreti
1835 Simon Napier-Bell
1836 A. L. Vijay
1837 Devashish Makhija
1838 nan
1839 nan
1840 Amal Neerad
1841 Fluvio Iannuci, Roly Santos
1842 Julius R. Nasso
1843 Lucas Figueroa
1844 Francis Lee
1845 Shanker Raman
1846 Rakshith Thirthahalli
1847 nan
1848 C. Fitz
1849 Alex Timbers
1850 nan
1851 Damien Piscarel, Florent Bodin
1852 Saandeep Patel
1853 nan
1854 nan
1855 Justin G. Dyck
1856 Arun Vaidyanathan
1857 Pradip Kurbah
1858 nan
1859 Alfonso Rodrguez
1860 nan
1861 nan
1862 nan
1863 Guillermo Garcia, David Cantolla
1864 nan
1865 Makarand Mane
1866 Pierfrancesco Diliberto
1867 nan
1868 Priyadarshan
1869 nan
1870 nan
1871 Sean Menard
1872 Dito Montiel
1873 Vicente Villanueva
1874 Don Michael Paul
1875 Anu Menon
1876 Adrian Murray
1877 Andy Goddard
1878 K. Rajagopal
1879 Atanu Ghosh
1880 Supavitra Babul
1881 Zoya Akhtar, Dibakar Banerjee, Karan Johar, Anurag Kashyap
1882 Anthony D'Souza
1883 Soumendra Padhi
1884 Mahesh Bhatt
1885 David Dhawan
1886 Ken Burns, Artemis Joukowsky
1887 Fuwad Khan
1888 Mike Birbiglia
1889 Nishikant Kamat
1890 Praveen Nischol
1891 Dylan Mohan Gray
1892 Kabir Sadanand
1893 Shinji Aramaki, Mamoru Oshii, Hideki Futamura, Toshiyuki Kanno, Tomoki Kyoda, Koichi Mashimo, Yasushi Muraki, Daisuke Nishio, Frank O'Connor, Koji Sawai, Joseph Chou, Hiroshi Yamazaki
1894 Justin Bare, Matthew Miele
1895 Lucien Jean-Baptiste
1896 Jalil Lespert
1897 Sudhir Mishra
1898 nan
1899 Edward Cotterill
1900 Sean Cisterna
1901 Sudhanshu Saria
1902 Sarah Moshman
1903 Omung Kumar
1904 Bob Hercules, Rita Coburn Whack
1905 Munish Bhardwaj
1906 Dilip Mehta
1907 Satish Rajwade
1908 Umesh Shukla
1909 Devika Bhagat
1910 Luv Ranjan
1911 Luv Ranjan
1912 Vikas Bahl
1913 Dharmesh Darshan
1914 Kireet Khurana, Padmakumar Narasimhamurthy
1915 Bejoy Nambiar
1916 Neeraj Pandey
1917 Aanand Rai
1918 Isaki Lacuesta, Isa Campo
1919 Gurmmeet Singh
1920 Sangeeth Sivan
1921 Nathan Landeg
1922 Fernando Gonzlez Molina
1923 Yann Arthus-Bertrand, Michael Pitiot
1924 Gonzalo Lpez-Gallego
1925 Kazuya Murata
1926 nan
1927 Mina Shum
1928 Martin Zandvliet
1929 Stephen Belber
1930 Tony Stone
1931 Cosmo Feilding-Mellen
1932 Peter Foott
1933 Raam Reddy
1934 Majid Al Ansari
1935 nan
1936 nan
1937 Woody Allen
1938 nan
1939 nan
1940 nan
1941 Ibrahim Bin Mohamed, Hasan Aljaberi
1942 nan
1943 nan
1944 Clark Johnson
1945 Emmanuel Mouret
1946 nan
1947 Robert Rodriguez
1948 nan
1949 Terry Gilliam
1950 Robin Swicord
1951 Conor Allyn
1952 nan
1953 Uraaz Bahl
1954 Frank Coraci
1955 John Patrick Shanley
1956 Haifaa Al-Mansour
1957 Wenn V. Deramas
1958 Olivia M. Lamasan
1959 Antoinette Jadaone
1960 Nuel Naval
1961 nan
1962 Nicols Lpez
1963 Paul Solet, Rick Benattar
1964 Amy Schumer
1965 Ian Kirby
1966 nan
1967 nan
1968 Sean McNamara
1969 Joe Camp
1970 Joe Camp
1971 nan
1972 Joe Camp
1973 Michael Simon
1974 Justin Chon
1975 Aziz Ansari
1976 David Sampliner
1977 nan
1978 Adam Shankman
1979 Chito S. Roo
1980 Marc Forster
1981 Keoni Waxman
1982 Benny Fine
1983 Mae Czarina Cruz
1984 Onir
1985 Paul Soriano
1986 Wenn V. Deramas
1987 Ruel S. Bayani
1988 Peter Mortimer, Josh Lowell
1989 Ben Wallis
1990 Greg Coolidge
1991 Iginio Straffi
1992 Owen Egerton
1993 Sam "Blitz" Bazawule
1994 Norm Hiscock, Gary Howsam, Mike Smith, John Paul Tremblay, Robb Wells
1995 nan
1996 nan
1997 Joe Miale
1998 Dheeraj Berry
1999 Richard Sears
2000 nan
2001 Nirpal Bhogal
2002 Laurent Bouzereau
2003 Brett Whitcomb
2004 Lucy van Beek
2005 Frank Capra, Joris Ivens
2006 John Huston
2007 Jakob Verbruggen
2008 nan
2009 George Stevens
2010 nan
2011 Frank Capra
2012 John Huston
2013 John Ford
2014 Charlie McDowell
2015 Michael Samuels
2016 nan
2017 William Wyler
2018 nan
2019 Stuart Heisler
2020 William Wyler, John Sturges
2021 Frank Capra, John Huston, Hugh Stewart, Roy Boulting, Anthony Veiller
2022 John Ford
2023 Frank Capra, Anatole Litvak
2024 nan
2025 nan
2026 John Huston
2027 Micah Bickham, Galley Molina
2028 Stuart Orme
2029 nan
2030 nan
2031 Olivia Newman
2032 Jared Stern
2033 Yang Lei
2034 nan
2035 Ral Campos, Jan Suter
2036 Lennart Ruff
2037 Mike Clattenburg
2038 Mike Clattenburg
2039 nan
2040 Adam MacDonald
2041 Saurav Palodhi
2042 Shawn Crahan
2043 Michael Whitton
2044 Steve Carr
2045 nan
2046 Swapnaneel Jayakar
2047 Kyzza Terrazas
2048 Miguel Conde
2049 nan
2050 Philippe Falardeau
2051 John Lee Hancock
2052 Theo Love
2053 nan
2054 nan
2055 Eli Craig
2056 Bart Freundlich
2057 nan
2058 nan
2059 Shannon Hartman
2060 Awi Suryadi
2061 Hanung Bramantyo
2062 skar Thr Axelsson
2063 Dan Lucchesi
2064 Vishal Mahadkar
2065 Ryan Polito
2066 Mikhail Red
2067 Raj Babu
2068 nan
2069 Rodolphe Guenoden
2070 Javier Ruiz Caldera
2071 Dan Fraga, William Lau
2072 Marina Willer
2073 Diego Pignataro
2074 Meghan O'Hara
2075 Tommy O'Haver
2076 nan
2077 Douglas McGrath
2078 Chanon Yingyong, Phuwanit Pholdee
2079 nan
2080 Kyle Newacheck
2081 Mijke de Jong
2082 Jorge Granier
2083 Daryl Hannah
2084 nan
2085 Michael Larnell
2086 Advait Chandan
2087 Abel Ferrara
2088 nan
2089 nan
2090 nan
2091 Oriol Paulo
2092 nan
2093 Stuart Sender
2094 nan
2095 nan
2096 Jeff Tremaine
2097 Paul Dugdale
2098 nan
2099 nan
2100 nan
2101 Wenn V. Deramas
2102 Joyce Bernal
2103 Jason Paul Laxamana
2104 Maryo J. De los Reyes
2105 Chito S. Roo
2106 Theodore Boborol
2107 Gavin Fitzgerald
2108 Juan Zapata
2109 Stan Lathan
2110 Gianfranco Rosi
2111 Gianfranco Rosi
2112 Oliver Daly
2113 Luis Ara
2114 nan
2115 Karan Shivajirao Chavan, Vikram Tanajirao Patil
2116 nan
2117 Melinda Janko
2118 nan
2119 nan
2120 Ram Gopal Varma
2121 Tanuj Bhramar
2122 Isao Yukisada
2123 A.R. Murugadoss
2124 A.R. Murugadoss
2125 John Lee Hancock
2126 nan
2127 Robin Swicord
2128 Faraz Haider
2129 Fritz Ofner
2130 Mozez Singh
2131 nan
2132 nan
2133 Ral Campos, Jan Suter
2134 Ral Campos, Jan Suter
2135 Robin Aubert
2136 Brendan Toller
2137 Kristian Levring
2138 Mark Helenowski, Kevin Pang
2139 Amy Schumer
2140 Jonathan Ignatius Green
2141 Sonny Marler
2142 Taron Lexton
2143 Robert Vince
2144 Eva Vives
2145 Lonny Price
2146 Sang-ho Yeon
2147 Jason Krawczyk
2148 Sam Wrench
2149 Sophie Robinson, Lotje Sodderland
2150 John Lee
2151 Richard Loncraine
2152 nan
2153 Sydney Freeland
2154 nan
2155 Ben Bowie, Geoff Luck
2156 Jung-woo Park
2157 nan
2158 Asghar Farhadi
2159 Brandon Camp
2160 nan
2161 Alison Klayman
2162 nan
2163 Yoo Byung-jae
2164 Victor Levin
2165 Henry Selick
2166 nan
2167 James Ivory
2168 Gonzalo Lpez-Gallego
2169 Lone Scherfig
2170 Mark Dindal
2171 Pia Sukanya
2172 Yann Gozlan
2173 Niyi Akinmolayan
2174 Francesco Imperato
2175 Hoyt Yeatman
2176 Lukas Dhont
2177 nan
2178 Manny Rodriguez
2179 Michael Simon, Matthew McNeil
2180 Manny Rodriguez
2181 Michael Simon
2182 Stephen Chow
2183 Frank W Chen
2184 nan
2185 nan
2186 Adrian Teh
2187 nan
2188 Florian Henckel von Donnersmarck
2189 Steven R. Monroe
2190 nan
2191 nan
2192 Buz Wallick
2193 Indrasis Acharya
2194 Aatmaram Dharne
2195 Sumitra Bhave, Sunil Sukthankar
2196 nan
2197 Sunao Katabuchi
2198 Kedar Shinde
2199 Johan Brisinger
2200 nan
2201 Attila Till
2202 Mahesh Manjrekar
2203 Tim Bartley
2204 Robyn Butler
2205 John Upchurch
2206 Deepika Narayan Bhardwaj
2207 nan
2208 Israel Adrin Caetano, Bruno Stagnaro
2209 Girish Joshi
2210 nan
2211 Aditya Sarpotdar
2212 nan
2213 Arjun Gourisaria, Moinak Biswas
2214 nan
2215 Maria Sadowska
2216 Santosh Sivan
2217 Erik Canuel
2218 Pascal Blanchard, Sonia Dauger, David Dietz
2219 Heidi Saman
2220 Peter Middleton, James Spinney
2221 Shashilal K. Nair
2222 Jayaraj Rajasekharan Nair
2223 Partho Sen-Gupta
2224 Eric Drath
2225 nan
2226 Sam Upton
2227 Maryo J. De los Reyes
2228 Olivia M. Lamasan
2229 Joyce Bernal
2230 Theodore Boborol
2231 Cathy Garcia-Molina
2232 Yang Woo-seok
2233 Pan Nalin
2234 nan
2235 Shannon Hartman
2236 nan
2237 nan
2238 nan
2239 J.C. Chandor
2240 nan
2241 John L. Spencer
2242 Victor Cook
2243 nan
2244 nan
2245 Brian Klein
2246 Devin Chanda
2247 Tekin Girgin
2248 nan
2249 nan
2250 David Chirchirillo
2251 Marianna Palka
2252 nan
2253 Dennis Bartok
2254 Kenneth Mller
2255 Marcel Barrena
2256 Burak Aksak
2257 Hakan Algl
2258 nan
2259 Gerard McMurray
2260 Muharrem Glmez
2261 Ozan Aktan
2262 Meltem Bozoflu
2263 Hakan Algl
2264 Seluk Aydemir, Birkan Pusa
2265 Seluk Aydemir
2266 Hakan Algl
2267 Hakan Algl
2268 Hakan Algl
2269 mer Faruk Sorak
2270 enol Snmez
2271 Ali Taner Baltac, Cem Ylmaz
2272 Sermiyan Midyat
2273 Sermiyan Midyat
2274 Ayta Arlar
2275 Burak Aksak
2276 Kvan Barun
2277 Kvan Barun
2278 Yusuf Pirhasan
2279 Mahsun Krmzgl
2280 Hakan Algl
2281 nan
2282 Kvan Barun
2283 Clementine Malpas, Leslie Knott
2284 Ketche
2285 Erol zlevi
2286 Hakan Yonat
2287 Ozan Aktan
2288 Olivier Loustau
2289 Ylmaz Erdoan
2290 Ylmaz Erdoan, mer Faruk Sorak
2291 Ylmaz Erdoan
2292 Nottapon Boonprakob
2293 Perry Lang
2294 Nawapol Thamrongrattanarit
2295 Xavier Gens
2296 Gary Wheeler
2297 nan
2298 Ang Lee
2299 Tom Edmunds
2300 nan
2301 Brant Sersen
2302 Sam Liu, Frank Paur
2303 Phil Morrison
2304 Paul Katis
2305 Matthew Vaughn
2306 nan
2307 nan
2308 Jonathan A. Rosenbaum
2309 Franck Phelizon
2310 Peter Howitt
2311 Matthew Atkinson

In [39]:
# sorting

# df.sort_values('director')
d.sort_values('director',ascending=False)  #to get the result in decending order
# d.sort_values('release_year')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2270,80134604,Movie,Hayat pcg,enol Snmez,"Ali Sunal, Hatice endil, Ayda Aksel, Ahmet S...",Turkey,"March 10, 2017",2015,TV-14,98 min,"Comedies, Dramas, International Movies",High-strung Metin finally stops seeing doom an...
38,81132437,Movie,Kill Me If You Dare,enol Snmez,"Murat Boz, Seda Bakan, Aelya Topalolu, z...",NaN,"September 6, 2019",2019,TV-14,100 min,"Comedies, International Movies, Romantic Movies","Bogged down with money problems, a couple grow..."
2269,80038440,Movie,G.O.R.A,mer Faruk Sorak,"Cem Ylmaz, Rasim ztekin, zkan Uur, d...",Turkey,"March 10, 2017",2004,TV-MA,123 min,"Action & Adventure, Comedies, International Mo...",Carpet dealer and UFO photo forger Arif is abd...
5224,80227118,Movie,Ak Tesadfleri Sever,mer Faruk Sorak,"Mehmet Gnsr, Belim Bilgin, Ayda Aksel, A...",Turkey,"April 4, 2018",2011,TV-MA,122 min,"Dramas, International Movies, Romantic Movies",A series of coincidences brings two star-cross...
2062,80216988,Movie,g man ig,skar Thr Axelsson,"Jhannes Haukur Jhannesson, gsta Eva Er...",Iceland,"March 27, 2018",2017,TV-MA,106 min,"Horror Movies, International Movies","Young urbanites renovating a rundown house, an..."
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaa, Gustavo Sorola, ...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [ ]:
print(df[df['duration'] == '90 min']) #boolean filterning

     show_id   type                            title             director  \
0         s1  Movie             Dick Johnson Is Dead      Kirsten Johnson
94       s95  Movie                        Show Dogs         Raja Gosnell
107     s108  Movie                 A Champion Heart         David de Vos
229     s230  Movie                     The Old Ways  Christopher Alender
283     s284  Movie             Misha and the Wolves        Sam Hobkinson
...      ...    ...                              ...                  ...
8651   s8652  Movie                            Tyson         James Toback
8655   s8656  Movie             Unaccompanied Minors            Paul Feig
8670   s8671  Movie                    Vantage Point          Pete Travis
8735   s8736  Movie  Who's That Knocking at My Door?      Martin Scorsese
8776   s8777  Movie                       Yellowbird    Christian De Vita

                                                   cast  \
0                                                   NaN
94    Will Arnett, Ludacris, Natasha Lyonne, Stanley...
107   Mandy Grace, David de Vos, Donna Rusch, Devan ...
229   Brigitte Kali Canales, Andrea Cortes, Julia Ve...
283                                                 NaN
...                                                 ...
8651                         Mike Tyson, Trevor Berbick
8655  Lewis Black, Wilmer Valderrama, Tyler James Wi...
8670  Dennis Quaid, Matthew Fox, Forest Whitaker, Br...
8735  Zina Bethune, Harvey Keitel, Anne Collette, Le...
8776  Dakota Fanning, Seth Green, Christine Baranski...

                            country          date_added  release_year rating  \
0                     United States  September 25, 2021          2020  PG-13
94    United Kingdom, United States   September 8, 2021          2018     PG
107                   United States   September 4, 2021          2018      G
229                   United States     August 25, 2021          2020  TV-MA
283         Belgium, United Kingdom     August 11, 2021          2021  PG-13
...                             ...                 ...           ...    ...
8651          United States, France       March 1, 2019          2008      R
8655                  United States     October 1, 2019          2006     PG
8670                  United States    November 1, 2019          2008  PG-13
8735                  United States        July 1, 2019          1967      R
8776                France, Belgium      August 5, 2015          2014     PG

     duration  ... Unnamed: 16 Unnamed: 17  Unnamed: 18  Unnamed: 19  \
0      90 min  ...         NaN         NaN          NaN          NaN
94     90 min  ...         NaN         NaN          NaN          NaN
107    90 min  ...         NaN         NaN          NaN          NaN
229    90 min  ...         NaN         NaN          NaN          NaN
283    90 min  ...         NaN         NaN          NaN          NaN
...       ...  ...         ...         ...          ...          ...
8651   90 min  ...         NaN         NaN          NaN          NaN
8655   90 min  ...         NaN         NaN          NaN          NaN
8670   90 min  ...         NaN         NaN          NaN          NaN
8735   90 min  ...         NaN         NaN          NaN          NaN
8776   90 min  ...         NaN         NaN          NaN          NaN

      Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  \
0             NaN          NaN          NaN          NaN          NaN
94            NaN          NaN          NaN          NaN          NaN
107           NaN          NaN          NaN          NaN          NaN
229           NaN          NaN          NaN          NaN          NaN
283           NaN          NaN          NaN          NaN          NaN
...           ...          ...          ...          ...          ...
8651          NaN          NaN          NaN          NaN          NaN
8655          NaN          NaN          NaN          NaN          NaN
8670          NaN          NaN          NaN          NaN          NaN
8735          NaN          NaN          NaN          NaN          NaN
8776          NaN          NaN          NaN          NaN          NaN

      Unnamed: 25
0             NaN
94            NaN
107           NaN
229           NaN
283           NaN
...           ...
8651          NaN
8655          NaN
8670          NaN
8735          NaN
8776          NaN

[152 rows x 26 columns]

In [ ]:
# manupulate data

df['telugu']=0
df.head()

In [ ]:
df = df.drop(columns=['telugu'])
df.head()

In [ ]:
df1

In [ ]:
print("\n# Using loc")
# print(df1)
# print(df1.loc[0])
print(df1.loc[0:2, ['Name', 'Age']])

In [ ]:
print("\n# Using iloc")
# print(df1.iloc[1])
print(df1.iloc[0:2, 0:2])

In [ ]:
print("\n# Boolean filtering")
print(df1[df1['Age'] > 28])

# Boolean filtering
      Name  Age    City
1      Bob   30   Paris
2  Charlie   35  London

In [ ]:
#Lab Task1: Create data frames for cbit-it cbit-cse, vnt-it seat allottments
# Print the descriptions of the allottments Print Histogram with 1000 ranks
# as displacement

In [ ]:
# Practice Exercises (

# 1. Create a Series with index ['x', 'y', 'z'] and values [5, 10, 15]. Reindex it to ['z', 'x', 'y', 'w'].
# 2. Create a DataFrame with columns Name, Age, and Score. Add 5 records. Drop one column and one row.
# 3. Filter the DataFrame to include only rows where Score > 80.
# 4. Use .loc and .iloc to select the first 2 rows and first 2 columns from the DataFrame.
# 5. Create a Series with colors and apply forward fill on a missing index range.